In [3]:
#Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

import pandas as pd

dataset=pd.Series([11,13,17,19,21,23])

print(dataset)

0    11
1    13
2    17
3    19
4    21
5    23
dtype: int64

In [34]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Sum of the examination attempts by the students:")
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

In [15]:
#create a TimeSeries starting ‘2001-01-01’ and 12 weekends (Sundays) after that having random numbers as values?

import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1,15,12), pd.date_range('2001-01-01', periods=12, freq='W-SUN'))
ser

2001-01-07     6
2001-01-14     8
2001-01-21     2
2001-01-28     5
2001-02-04    10
2001-02-11    11
2001-02-18    14
2001-02-25     8
2001-03-04    11
2001-03-11     8
2001-03-18     9
2001-03-25    12
Freq: W-SUN, dtype: int32

In [17]:
#Printing current working dictionary
import os

print(os.getcwd())

C:\Users\MonaliMarne

In [18]:
import pandas as pd  
  
data = {'Category':['Array', 'Stack', 'Queue'], 
        'Marks':[20, 21, 19]}  
    
df = pd.DataFrame(data)    
print(df )

  Category  Marks
0    Array     20
1    Stack     21
2    Queue     19

In [19]:
import pandas as pd  

data = {'Category':['Array', 'Stack', 'Queue'], 
        'Student_1':[20, 21, 19], 'Student_2':[15, 20, 14]}  
  
df = pd.DataFrame(data)  
print (df)
    
print(df.transpose())

  Category  Student_1  Student_2
0    Array         20         15
1    Stack         21         20
2    Queue         19         14
               0      1      2
Category   Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

In [20]:
#List
import pandas as pd  
 
data = [['DS', 'Linked_list', 10], ['DS', 'Stack', 9], ['DS', 'Queue', 7], 
        ['Algo', 'Greedy', 8], ['Algo', 'DP', 6], ['Algo', 'BackTrack', 5], ]  
  
df = pd.DataFrame(data, columns = ['Category', 'Name', 'Marks'])  
  
print(df )

  Category         Name  Marks
0       DS  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5

In [23]:
#tuple
import pandas as pd 
  
data = [('Peter', 18, 7), 
        ('Riff', 15, 6), 
        ('John', 17, 8), 
        ('Michel', 18, 7), 
        ('Sheli', 17, 5) ] 
#from records method
df = pd.DataFrame.from_records(data, columns =['Team', 'Age', 'Score']) 
print(df)

     Team  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

In [27]:
import pandas as pd 
  
data = [('Peter', 18, 7), 
        ('Riff', 15, 6), 
    ('John', 17, 8), 
    ('Michel', 18, 7), 
    ('Sheli', 17, 5) ] 
  
df = pd.DataFrame(data, columns =['Team', 'Age', 'Score']) 
print(df)
print() 
# Dataframe.pivothandles duplicate values for one index/column pair.
a = df.pivot('Team', 'Score','Age') 
print(a)

     Team  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

Score      5     6     7     8
Team
John     NaN   NaN   NaN  17.0
Michel   NaN   NaN  18.0   NaN
Peter    NaN   NaN  18.0   NaN
Riff     NaN  15.0   NaN   NaN
Sheli   17.0   NaN   NaN   NaN

In [30]:
# Handle missing values in Data frame

import pandas as pd 
import matplotlib.pyplot as plt 
  
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti'] 
article = [210, 211, 114, 178] 
  
auth_series = pd.Series(author) 
article_series = pd.Series(article) 
  
df= { 'Author': auth_series, 'Article': article_series } 
  
DfResult = pd.DataFrame(df) 

print(DfResult)
print()
age = [21, 21, 23] 
  
result['Age'] = pd.Series(age) 
  
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

     Author  Article   Age
0  Jitender      210  21.0
1   Purnima      211  21.0
2     Arpit      114  23.0
3     Jyoti      178   NaN

In [32]:
import pandas as pd 
from io import StringIO 
  
# string data 
StringData = StringIO("""Date|Event|Cost 
    10/2/2011|Music|10000 
    11/2/2011|Poetry|12000 
    12/2/2011|Theatre|5000 
    13/2/2011|Comedy|8000 
    """) 
#sep=separtaion/delimeter
df = pd.read_csv(StringData, sep ="|") 
print(df)

            Date    Event  Cost
0      10/2/2011    Music  10000
1      11/2/2011   Poetry  12000
2      12/2/2011  Theatre   5000
3      13/2/2011   Comedy   8000

In [33]:
import pandas as pd  

df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],  
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],  
                    'Cost':[10000, 5000, 15000, 2000]})  

Row_list =[]  
    
# Iterate over each row  
for i in range((df.shape[0])):      
#Using iloc to access the values of 
    Row_list.append(list(df.iloc[i, :]))  
    
# Print the first 3 elements  
print(Row_list[:3])

[['10/2/2011', 'Music', 10000], ['11/2/2011', 'Poetry', 5000], ['12/2/2011', 'Theatre', 15000]]

In [39]:
import pandas as pd 
  
# Create the dataframe 
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'], 
                   'Product':[' UMbreLla', '  maTress', 'BaDmintoN ', 'Shuttle'], 
                   'Updated_Price':[1250, 1450, 1550, 400], 
                   'Discount':[10, 8, 15, 10]}) 
  
print(df) 
print()
#applying dataframe.apply method
df['Product'] = df['Product'].apply(lambda x : x.strip().capitalize()) 

print(df)

        Date     Product  Updated_Price  Discount
0  10/2/2011    UMbreLla           1250        10
1  11/2/2011     maTress           1450         8
2  12/2/2011  BaDmintoN            1550        15
3  13/2/2011     Shuttle            400        10

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011    Matress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [40]:
import pandas as pd  
    
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'}, 
        {'Geeks':10, 'For': 20, 'geeks': 30}]  
 
df = pd.DataFrame(data, index =['ind1', 'ind2'])   
df

          Geeks    For geeks
ind1  dataframe  using  list
ind2         10     20    30